@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates|Public+Sans&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  color: #eee;
  background-color: #eee;
  font-family: Public Sans;
}
.topnav {
  overflow: hidden;
  background-color: #eee;
}

.topnav a {
  float: left;
  color: #69321f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

.topnav a:hover {
  background-color: #152369;
  color: #eee;
}

.topnav a.active {
  background-color: #e86e46;
  color: white;
}
h2 {
  font-size: 8.5rem;
  font-family: Montserrat Alternates;
  padding-top: 55px;
  font-weight: bold;
}
h3 {
  font-size: 3.5rem;
  font-family: Montserrat Alternates;
  padding-bottom: 55px;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("../images/bgimage.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-top: 30px solid #9c4a2f;
}
.row {
  justify-content: center;
}
.intro {
  text-align: center;
  background-color: #9c4a2f;
  position: fixed;
  bottom: 0;
  width: -webkit-fill-available;
}
.col-md-2,
.col-md-10,
.col-md-12 {
  padding: 0;
}
.animojiright,
.animojileft {
  display: flex;
  justify-content: right;
  position: fixed;
  bottom: 0;
}
.animojiright {
  right: 0;
}
.animojileft {
  left: 0;
  display: none;
}
.downarrow,
.uparrow {
  text-align: center;
  position: fixed;
}
.uparrow {
  top: 0;
  z-index: 100;
}
.downarrow {
  bottom: 0;
}
.glyphicon {
  font-size: 5.5rem;
  color: #e8a28b;
}
.glyphicon:hover {
  cursor: pointer;
  color: #333;
  transition: 0.5s;
}
.page2 {
  display: none;
  padding: 0;
  background-color: #eee;
}
.abtmehdr {
  border-bottom: 10px solid #e8a28b;
  background-color: #9c4a2f;
  padding: 20px 0 20px 50px;
}
.abtmebdy {
  padding: 20px 50px;
  border-radius: 10px;
}
.abtmebdy h5 {
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #69321f;
  font-size: 2rem;
  line-height: inherit;
  background-color: #fff;
  border-radius: 15px;
}
.languages {
  padding: 0 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  line-height: inherit;
  background-color: #fff;
  border-radius: 15px 0 0 15px;
}
.languages h3 {
  color: #69321f;
  font-weight: bold;
  border-left: solid 10px #e86e46;
  padding: 0 0 0 5px;
  line-height: 1;
}
